bdfy-donors {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

bdfy-new-donor {
  .new-donor {
    md-input {
      width: 100%;
    }

    md-card-actions {
      margin-bottom: -27px;
    }
  }
}
